footer {
    margin-top: 6rem;
    padding: 6rem;
    text-align: center;
    background-color: black;
    color: white;

    h1 {
        margin-bottom: 4rem;
    }

    .images {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: repeat(6, 1fr);
        width: min-content;
        padding-left: auto;

        .image {
            position: relative;
            cursor: pointer;
            width: 12rem;
            overflow: hidden;
            border-radius: 4%;

            img {
                z-index: 1;
                width: 100%;
                height: fit-content;
            }

            &::after {
                content: '';
                position: absolute;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border: 1px white solid;
                transition-duration: 0.4s;
                opacity: 0;

            }

            &:hover::after {
                transform: scale(80%);
                opacity: 1;
            }
        
            .insta {
                position: absolute;
                width: 3rem;
                top: 33%;
                left: 40%;
                z-index: 100;
                opacity: 0;
                transition-duration: 0.5s;
            }

            &:hover {
                .insta {
                    opacity: 1;
                }
            }
        }

    }
    
}