$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$pink : #FF376C;

* {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

header {
  .top-nav {
    margin-top: 1.7rem;
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
    text-align: center;

    .subscribe {
      cursor: pointer;
      margin-top: 1.5rem;
      height: 2.2rem;
      width: 9rem;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 900;
    }
  
    span {
      color: #a6a6a6;
    }
  
    .links {
      position: relative;
      margin-top: 1rem;
      width: 10rem;
      img {
        position: absolute;
        width: 2.5rem;
        padding: 0.25rem;
        border-radius: 50%;
        cursor: pointer;
        border: 1px dashed gray;
        transition-duration: 0.2s;
        top: 0;

        &::after {
          content: 'لاشفششششششششششششششششششش';
          position: absolute;
          top: 40%;
          width: 100%;
          height: 100%;
          background-color: green;
        }

        &:hover {
          top: -0.6rem;
        }
      }
      :nth-child(1) {
        left: 0;
      }
      :nth-child(2) {
        left: 30%;
      }
      :nth-child(3) {
        left: 60%;
      }
    }
  
    button{
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      background-color: $pink;
      color: white;
      text-transform: uppercase;
      border: none;
      border-radius: 2rem;
    }
  
  
  }

  nav {
    padding: 1rem 6rem;
    margin-top: 1rem;
    background-color: $pink;
    color: white;
    display: flex;
    justify-content: space-between;

    input {
      height: 0.7cm;
      padding: 0.5rem;
      caret-color: transparent;
      border: none;
      border-radius: 0.6rem;
      font-size: 1rem;

      &:focus {
        border: none;
        outline: none;
      }
    }
    
    ul {
      list-style-type: none;
      list-style-image: none;
      display: flex;
      column-gap: 2rem;
      font-size: 1.2rem;

      li {
        position: relative;
        cursor: pointer;
      
        &::after {
          content: '';
          position: absolute;
          width: 0%;
          bottom: -20%;
          left: 50%;
          height: 3px;
          background-color: white;
          transition-duration: 0.2s;
        }

        &:hover {
          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}

.container {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 3fr 1fr;
  text-transform: capitalize;


  .cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem 6rem;

    .card {
      position: relative;
      width: 45%;
      cursor: pointer;
      display: flex;
      padding: 3rem;
      border-radius: 10%;
      height: 25rem;
      flex-direction: column;
      color: white;
      text-align: center;
      row-gap: 0.5rem;

      .owner {
        display: flex;
        align-items: center;
        margin: auto;
        padding-right: auto;
        column-gap: 0.5rem;
        img {
          width: 2rem;
        }
      }
      button {
        margin: auto;
        margin-top: 60%;
        text-transform: uppercase;
        color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 10%;
        transform: skew(-20deg);
        letter-spacing: 0.02rem;
      }

      &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: inherit;
      }
    }

    .card:first-child::after {
      background-image: url('../assets/images/space1.jpg');
    }
    .card:nth-child(2)::after {

      background-image: url('../assets/images/space2.jpg');
    }
    .card:nth-child(3)::after {
      background-image: url('../assets/images/space3.jpg');
    }
    .card:nth-child(4) {
      background-image: url('../assets/images/space4.jpg');
    }
  }

  aside {
    background-color: green;
  }
}

.health {
  background-color: $pink;
}

.lifestyle {
  background-color: #8571ff;
}