@use './header.scss';
@use './reset.scss';
@use './sideBard.scss';

$primary-color: #333;
$pink : #FF376C;


.container {
  padding-right: auto;
  display: grid;
  margin-top: 5rem;
  grid-template-columns: 60% 20%;
  text-transform: capitalize;

  .cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 18%;

    .card {
      position: relative;
      display: flex;
      height: 25rem;
      width: 40%;
      padding-top: 15rem;
      border-radius: 10%;
      color: white;
      flex-direction: column;
      text-align: center;
      row-gap: 0.5rem;
      overflow: hidden;
      cursor: pointer;

      .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: red;

        &::after {
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          z-index: -1;
          transition-duration: 0.5s;
        }

        &:hover {
          &::after {
            transform: scale(1.2);
          }
        }
      }

      &:first-child .background-image::after {
        background-image: url('../assets/images/space1.jpg');
      }

      &:nth-child(2) .background-image::after {
        background-image: url('../assets/images/space2.jpg');
      }

      &:nth-child(3) .background-image::after {
        background-image: url('../assets/images/space3.jpg');
      }

      &:nth-child(4) .background-image::after {
        background-image: url('../assets/images/space4.jpg');
      }

      .owner {
        display: flex;
        align-items: center;
        margin: auto;
        padding-right: auto;
        column-gap: 0.5rem;

        img {
          width: 2rem;
        }
      }

      button {
        margin: auto;
        text-transform: uppercase;
        color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 10%;
        transform: skew(-20deg);
        letter-spacing: 0.02rem;
        transition-duration: 0.5s;

        &:hover {
          box-shadow: 10px 10px 0px 133px rgba(14, 126, 164, 0.75);
          -webkit-box-shadow: 2px 2px 8px 6px rgba(14, 126, 164, 0.75);
          -moz-box-shadow: 10px 10px 0px 133px rgba(14, 126, 164, 0.75);
        }
      }
    }

  }

  .health {
    background-color: $pink;
  }

  .lifestyle {
    background-color: #8571ff;
  }
}