$font-stack: 'Roboto', sans-serif;

* {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  button {
    border: none;
    outline: none;
    cursor: pointer;

    &:focus {
      outline: none;
      border: none;
    }
  }
  